/* MAIN BODY ELEMENTS
---------------------------------------------------------------------- */
body {
	margin:0px 0;
	padding:0;
	font: 12px Verdana, Arial, Helvetica, sans-serif;

	color:#ccc;
	background: #303B41 url(http://10.0.0.10/MegapharmERP/images/bg.jpg) repeat-x;
	line-height: 1.4em;
}

#wrapper {
	background: #FFF url(http://10.0.0.10/MegapharmERP/images/mainbg.jpg) repeat-y center;
	color: #ccc;
	margin: 0 auto;
	padding: 0;
	width: 800px;
}

#top {
	padding: 0;
	margin: 0;
	background: #000 url(http://10.0.0.10/MegapharmERP/images/top.jpg) no-repeat top;
	height: 44px;
}
#top .padding {
	float: right;
	color: #808080;
	padding: 20px 25px 0 0;
	font-size: 90%;
}
#top a { color: #E0F5FF; }


#header {
	margin: 0;
	width: 800px;
	background: #036EB4 url(http://10.0.0.10/MegapharmERP/images/header.jpg) no-repeat center top;
	height: 80px;
	color: #FFF;
	xmargin-top: 44px;
}
#header h1 {
	font-family: Arial, Verdana, Helvetica, sans-serif;
	font-size: 40px; font-weight: bold;
	padding: 25px 30px 10px 30px;
	margin: 0px;
}
#header h2 {
	font-family: Arial, Verdana, Helvetica, sans-serif;
	font-size: 12px;
	background-image: none;
	color: #075181;
	margin: 0;
	padding: 0 0 0 40px;
	border: 0px;
}


#menu {
	width: 770px;
	margin: 0 15px 0 15px;
}

#content {
	background: #FFF;
	width: 740px;
	margin: 0 30px 0 30px;
	color: #222;
}

#footer {
	clear:both;
	height: 43px;
	color:#ccc;
	background: #000 url(http://10.0.0.10/MegapharmERP/images/footer.jpg) top no-repeat;
	text-align:center;
	margin: 30px 0px 0px 0px;
	font-size: 10px;
}
#footer a { color: #E0F5FF; }
#footer p { padding: 6px; }



/* GENERIC CLASSES AND STYLES
---------------------------------------------------------------------- */
h2 {
	background: url(http://10.0.0.10/MegapharmERP/images/h.gif) no-repeat ;
	background-position: 1px -7px;
	color:#075181;
	font-size:140%;
	font-weight:bold;
	margin: 15px 0px 10px 0px;
	padding:0 0 5px 30px;
	
	border-bottom:1px solid #036CB4;
}

h3 {
	color:#075181;
	margin: 15px 0px 10px 0px;
}

a       { color: #075181; background: inherit; text-decoration:none; }
a:hover { background: inherit; text-decoration:underline; }

p { margin-bottom: 5px; }

.fullwidth { width: 100%; }
.hidden    { visibility: hidden; display:none; }
.advanced  { border: 1px solid #a1a1a1; background-color: #efefef; }
.advanced2 { text-align:left; }
.advanced3 { text-color:red; }
.disabled  {	color: #aaa; }

a.help     { display: block; font-size: 10px; padding: 0px; background: url(../images/help.gif) no-repeat; padding-left: 17px;}

table.nostyle    { border-collapse: collapse; }
table.nostyle td { margin: 0; padding: 0; }



/* LISTING TABLES 
---------------------------------------------------------------------- */
table.listing caption {
	text-align: left;
	font-size: 12px;
	font-weight: bold;
}

table.listing th {
	font-size: 10px;
	font-weight: normal;
	border: 1px solid #818181;
	border-width: 0px 0px 1px 0px;
	color:#300;
	padding: 4px 4px 4px 0;
	text-align: left;
}

table.listing th a {
	text-decoration: none;
	font-weight: bold;
}

table.listing td {
	font-size:10px;
	background-color: #fff;
	border:1px solid #b1b1b1;
	border-width:0 0 1px 0;
	padding: 2px;
	text-align:left;
	font-size:11px; /*Ugh too generic */
	vertical-align:middle;
	color: #222;
}

table.listing tr.even td { background-color: #efefef; }
table.listing tr.oddgreen td {background-color: #9DEA9D; }
table.listing tr.evengreen td {background-color: #8DDA8D; }
table.listing tr.oddyellow td {background-color: #fffabc; }
table.listing tr.evenyellow td {background-color: #efeaac; }
table.listing tr.oddred td {background-color: #FFADAD; }
table.listing tr.evenred td {background-color: #EF9D9D; }
table.listing tr.odddisabled td {background-color: #eee; }
table.listing tr.evendisabled td {background-color: #ddd; }
table.listing tr.hilight td { background-color: #c0e0f0; }


/* FORM TABLES 
---------------------------------------------------------------------- */

.formtable td {
	/*padding: 6px 6px 6px 2px;*/
	padding: 10px 30px 0px 4px;
	vertical-align: top;
	color: #000;
}
.formtable tr.even td { background-color: #efefef; }

.formtable small {
	font-size: 10px;
	color: #777;
}
.formtable td.caption {
	font-size: 12px;
	text-align: left;
	font-weight: bold;
	border-bottom: 1px solid #214A82;
	margin: 0;
	padding: 0;
	padding-top: 30px;
	padding-bottom: 5px;
}
.formtable td.caption a.help {
	padding-bottom: 0;
	margin-bottom: 0;
}

.formtable caption img {
	vertical-align: middle;
	width: 20px;
	padding-right: 15px;
}
.formtable input[type="text"],
.formtable input[type="password"],
select
{
	margin-bottom: 6px;
}

/* FORM ELEMENTS
---------------------------------------------------------------------- */
button {
	background-color:#075181;
	border:1px solid #000;
	color:#fff;
	font-family:'trebuchet ms','helvetica','sans-serif';
	font-size:11px;
	font-weight:bold;
	width: auto;
	padding: 0px 6px 0px 6px;
	margin: 0px 2px 0px 0px;
	width: auto;
	overflow:visible;
	*height: 18px;
	*line-height: 10px;
}
button:hover {
	background-color:#1e81e5;
	border:1px solid #369;
}
button.important {
	background-color:#C00;
	border:1px solid #300;
}

button.disabled {
	background-color: #aaaabb;
	border: 1px solid #777;
}

button.important_disabled {
	background-color: #bbaaaa;
	border: 1px solid #777;
}

button.important:hover {
	background-color:#f33;
	color:#300;
	border:1px solid #666;
}

button.users {
	background-color: transparent;
	border: 0;
	background: url(../images/users.gif) no-repeat;
}


input[type="text"],
input[type="password"],
select,
textarea
{
	border: 1px solid #ccc;
	padding: 1px;
	background: #f9f9fe;
	margin: 2px;
	font-size: 11px;
	vertical-align: middle;
	font-family: verdana, monospace;
}
input[type="text"],
input[type="password"]
{
	*height: 16px;
	*line-height: 16px;
}

input:focus,select:focus,textarea:focus          { /*border: 1px solid #68ADD5;*/ }
input:disabled,select:disabled,textarea:disabled { background: #fafafa; border: 1px solid #eee; }
input.error,selec.error,textarea.error           { border: 1px solid #A90000;	background: #fff0f0; }

/* MESSAGE BOXES
---------------------------------------------------------------------- */
.error_message {
	background: url(../images/red_alert.gif) no-repeat;
	background-position: 10px 6px;
	color: #990000;
	background-color: #FFF0F0;
	padding: 7px;
	padding-left: 30px;
	margin-top: 3px;
	margin-bottom: 5px;
	border: 1px dashed #990000;
}

.success_message {
	background: url(../images/success.gif) no-repeat;
	background-position: 10px 6px;
	color: #7BA813;
	background-color: #F5FBE1;
	padding: 7px;
	padding-left: 30px;
	margin-top: 3px;
	margin-bottom: 5px;
	border: 1px dashed #7BA813;
}


.warning_message {
	background: url(../images/alert.gif) no-repeat;
	background-position: 10px 6px;
	color: #a0a000;
	background-color: #F5FBE1;
	padding: 7px;
	padding-left: 30px;
	margin-top: 3px;
	margin-bottom: 5px;
	border: 1px dashed #a0a000;
}


/* AUTOCOMPLETE
---------------------------------------------------------------------- */
.ac_results {
	padding: 0px;
	border: 1px solid WindowFrame;
	background-color: Window;
	overflow: hidden;
}

.ac_results ul {
	width: 100%;
	list-style-position: outside;
	list-style: none;
	padding: 0;
	margin: 0;
}

.ac_results iframe {
	display:none;/*sorry for IE5*/
	display/**/:block;/*sorry for IE5*/
	position:absolute;
	top:0;
	left:0;
	z-index:-1;
	filter:mask();
	width:3000px;
	height:3000px;
}

.ac_results li {
	margin: 0px;
	padding: 2px 5px;
	cursor: pointer;
	display: block;
	width: 100%;
	font: menu;
	font-size: 12px;
	overflow: hidden;
}


.ac_over {
	background-color: Highlight;
	color: HighlightText;
}


/* TREE VIEW
---------------------------------------------------------------------- */
.treeview, .treeview ul {
	padding: 0;
	margin: 0px;
	list-style: none;
}

.treeview ul {
	background-color: white;
	margin-top: 4px;
}

.treeview .hitarea {
	background: url(../images/treeview-default.gif) -64px -25px no-repeat;
	height: 16px;
	width: 16px;
	margin-left: -16px;
	float: left;
	cursor: pointer;
}
/* fix for IE6 */
* html .hitarea {
	display: inline;
	float:none;
}

.treeview li {
	margin: 0;
	padding: 3px 0pt 3px 16px;
}

#treecontrol { margin: 1em 0; display: none; }

.treeview li { background: url(../images/treeview-default-line.gif) 0 0 no-repeat; }
.treeview li.collapsable, .treeview li.expandable { background-position: 0 -176px; }

.treeview .expandable-hitarea { background-position: -80px -3px; }

.treeview li.last { background-position: 0 -1766px; }
.treeview li.lastCollapsable, .treeview li.lastExpandable { background-image: url(../images/treeview-default.gif); }
.treeview li.lastCollapsable { background-position: 0 -111px }
.treeview li.lastExpandable { background-position: -32px -67px;}

.treeview div.lastCollapsable-hitarea, .treeview div.lastExpandable-hitarea { background-position: 0; }
.treeview li.disabled a {
	opacity: .5;
	filter: alpha(opacity=50);
}

/* POPUP WINDOWS
---------------------------------------------------------------------- */
.window {
	display: none;
	position: fixed;
	top: 50%;
	left: 50%;
	margin-left: -300px;
	text-align: center;
	width: 300px;
	border: 1px solid black;
	background: #fff url(../images/ddbg-infinite.gif) bottom left repeat-y;
	padding: 10px 10px 10px 10px;
}

.window_titlebar {
	background: #000;
	margin: -10px -10px 10px -10px;
	padding: 3px;
	font-weight: bold;
	color: #fff;
	cursor: move;
	text-align: left;
	font-size: 11px;
}


/* PAGE: IVR EDITOR MAINPAGE
---------------------------------------------------------------------- */
.ivrtable {
	border-collapse: collapse;
	width: 100%;
	border: 1px solid #ccc;
}

.ivrtable th {
	background-color: #efefef;
	border-bottom: 1px solid #ccc;
	padding: 4px 10px;
	text-align: left;
}

.ivrtable #IVR_Tree {
	height: 50px;
	padding: 3px;
	font-size: 10px;
}
.ivrtable #IVR_Tree img {
	vertical-align: middle;
}
.ivrtable #IVR_Tree a { text-decoration: none; }
.ivrtable #IVR_Tree a.selected { color: #e00; }

.ivrtable #IVR_Details {
	height: 50px;
	width: 400px;
	padding: 5px;
}

/* PAGE: QUEUE MODIFY FORM
---------------------------------------------------------------------- */
table.queue_sound {
}

table.queue_sound td {
	font-size: 11px;
	padding :1px 30px 1px 0px;
	vertical-align: middle;
}